* {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0;
}

html, body {
    margin: 0px;
    height: 100%;
}

.jumbotron {
    background-color: #3a3a3b;
    
}

.display-6 {
    text-align: center;
    color: white;
}

.col-3 {
    padding-right: 0px;
}

.col-8 {
    padding-right: 0px;
}

#currentWeather {
    display: block;
    height: 50%;
}

#fiveDayForecast {
    display: block;
    height: 100%;
    font-size: small;
}

.card {
    display: block;
    height: 100%;
    font-size: 300%;
}


.fiveDayCard {
    display: inline-block;
    width: 20%;
}

.card-title {
    font-size: 350%;
}
